//- 항상 같은 형태를 지니지만 다른 데이터를 가져야 한다면?
//- 그럴때 mixins을 쓴다
//- mixin은 똑똑한 partial이다
//- mixin은 데이터를 받을 수 있는 일종의 미리 만들어진 HTML block이라 볼 수 있다

//- video라는 객체를 받는다, 이름은 상관없음
//- video에 의거하여 얻게 되는 html
mixin video(video)
    div 
        h4
            a(href=`/videos/${video.id}`)=video.title
        p=video.description
        ul
            each hashtag in video.hashtags
                li=hashtag
        small=video.createdAt
