@import "./config/_variable.scss";
@import "./config/_reset.scss";


// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/soial-login.scss";
@import "./components/video-player.scss";


// Screens
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/watch.scss";
@import "./screens/upload.scss";
@import "./screens/edit-profile.scss";


// Defaults
body {
  font-family: "Spoqa Han Sans Neo","sans-serif";
  background: $bg;
  color:$darkText;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

//test test
