doctype html
html(lang="ko")
    head
        title #{pageTitle} | webtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header

            //- =을 쓰면 text가 아닌 변수로 인식 , 하나의 변수만 넣는경우
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/search") Search

                    if !req.session.loggedIn
                        li
                            a(href="/login") Login
                        li
                            a(href="/join") Join
        main
            block content
        include partials/footer
