extends base

block content
    if error_message
        span=error_message
    form(method="POST")
        input(placeholder="기존 비밀번호" type="password" name="oldPassword")
        input(placeholder="변경할 비밀번호" type="password" name="newPassword")
        input(placeholder="비밀번호 확인" type="password" name="newPasswordCheck")
        input(value="변경하기" type="submit")
         
         