extends base

block content
    if error_message
        span=error_message
    form(method="POST")
        input(name="username", type="text", required, placeholder="아이디를 입력하여 주세요")
        input(name="password", type="password", required, placeholder="비밀번호를 입력하여 주세요")
        input(type="submit", value="로그인")
        br
    hr
    div 
        include partials/social-login
    div.auth-switch
        span 회원이 아니신가요? 
        a(href="/join") 회원가입